# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
*.env

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Logs / databases
*.log
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
